
@font-face {
  font-family: "FrontFont";
  src: url("fonts/FrontFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* ---------- RESET ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: Arial, Helvetica, sans-serif;*/
}

/* ---------- NAVBAR (ON IMAGE) ---------- */

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.top-nav {
  display: flex;
  justify-content: flex-end;
  padding: 25px 60px;
}

.login-btn {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  border: 2px solid white;
  padding: 8px 18px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background: white;
  color: black;
}


/* ---------- HERO IMAGE FULL SCREEN ---------- */
.hero {
  height: 110vh;
  background: url("campus.jpg") center/cover no-repeat;
  position: relative;
}


.hero-overlay {
  height: 100%;
  font-family: "FrontFont", sans-serif;
  background: rgba(0,0,0,0.45);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*padding: 20px;*/
}

.hero-overlay h1 {
  font-size: 3rem;
  /*margin-bottom: 20px;*/
}

.hero-overlay p {
  font-size: 1.2rem;
  max-width: 650px;
}

.floating-nav {
  display: flex;
  justify-content: center;
  gap: 50px;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}

.floating-nav a {
  text-decoration: none;
  padding: 14px 28px;
  background: white;
  color: #2c3e50;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
}

.floating-nav a:hover {
  transform: translateY(-6px);
  background: #02264a;
  color: white;
}



/* ---------- SCROLL OVER CONTENT ---------- */
.content {
  background: white;
  padding: 90px 100px;
  margin-top: -10px;   /* overlap effect */
  position: relative;
  z-index: 10;
  border-radius: 20px 20px 0 0;
}

.about-campus-wrapper {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-top: 80px;
}


.about-campus {
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
}

.about-text {
  position: absolute;
  inset: 0;
  width: 65%;
  background: #0b3c5d;
  color: white;
  padding: 90px 120px;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

.about-text h2 {
  font-size: 2.4rem;
  margin-bottom: 25px;
}

.about-text p {
  font-size: 1.15rem;
  line-height: 1.8;
}

.about-image {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: url("vit1.jpg") center/cover no-repeat;
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}



.content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #2c3e50;
}

.content p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #555;
  margin-bottom: 20px;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 768px) {
  nav {
    padding: 16px 20px;
  }

  .hero-overlay h1 {
    font-size: 2.2rem;
  }

  .content {
    padding: 50px 25px;
    margin-top: -80px;
  }
}
